body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    
    font-size: 15px;
    line-height: 1.6;
    color: #333;
    }

*, 
*:before,
*:after {
    box-sizing: border-box
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


/* Page */

.page {
    overflow: hidden;
}



/* Container */
.container {
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

/* intro */ 
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 100%;
    height: 100vh;
    min-height: 490px;
    position: relative;
    
    background: 
        url("../images/intro.jpg")
        center no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
}

.intro_inner {
    color: #fff;
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    
    text-align: center;
}

.intro_title_a {
    margin-bottom: 5px;
    font-family: 'Caveat', cursive;
    font-size: 45px;
    
}

.intro_title_b1 {
    font-size: 48.6px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
}

.intro_title_b2 {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
}

.intro_title_b2:after {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    margin: 60px auto;
    
    background-color: #fff;
}

/* Header */ 
.header {
    width: 100%;
    padding: 8px 0 8px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;   
}

.header.fixed {
    background-color: #2ca1c0;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
    
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    
    transform: translate3d(0, 0, 0);
}

.header:active {
    background-color: #2ca1c0;
}


.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    display: inline-block;
    vertical-align: top;
    margin: 0 15px 0;
    
}


/* Nav */
.nav {
    font-size: 13px;
    text-transform: uppercase;
}

.nav_link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;
    
    color: #fff;
    text-decoration: none;
    
    transition: color .1s linear;
}

.nav_link:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    
    background-color: #fbbba9;
    opacity: 0;
    
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    
    transition: opacity .1s linear;
}

.nav_link:hover {
    color: #fbbba9;
}
.nav_link:hover:after {
    opacity: 1;
}


/* Toggle */

.nav-toggle {
    width: 30px;
    padding: 10px 0;
    display: none;
    
    font-size: 0;
    color: transparent;
    
    border: 0;
    background: none;
    cursor: pointer;
    
    position: absolute;
    top: 12px;
    right: 25px;
    z-index: 1;
}

.nav-toggle:focus {
    outline: 0;
}

.nav-toggle_item {
    display: block;
    width: 100%;
    height: 3px;
    
    background-color: #fff;
    
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    
    transition: background .2s linear;
}

.nav-toggle_item:before, 
.nav-toggle_item:after {
    content: "";
    width: 100%;
    height: 3px;
    
    background-color: #fff;
    
    position: absolute;
    left: 0;
    z-index: 1;
    
    transition: transform .2s linear;
}


.nav-toggle:active .nav-toggle_item {
    background: none;
}

.nav-toggle:active .nav-toggle_item:before {
    transform-origin: left top;
    transform: rotate(45deg)
        translateX(-2px);
}
.nav-toggle:active .nav-toggle_item:after {
    transform-origin: left bottom;
    transform: rotate(-45deg)
        translateX(-3px);
}

.nav-toggle_item:before {
    top: -8px;
}
.nav-toggle_item:after {
    bottom: -8px;
}


/* Button */
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 6px 25px;
    
    border: 2px solid #fff;
    
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    
    transition: background .1s linear, color .1s linear;
}

.btn:hover {
    background-color: #fff;
    color: #333;
}


/* Section */

.section {
    padding: 60px 0; 
}

.section-gray {
    padding: 20px 0;
    background-color: #f8f8f8;
}

.section_header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 50px;
    
    text-align: center;
}

.section_suptitle {
    line-height: 1.5;
    font-family: 'Caveat', cursive;
    font-size: 30px;
    font-weight: 500;
    color: #333;
}

.section_title {
    line-height: 0.3;
    font-size: 25px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}

.section_title:after {
    content: "";
    display: block;
    width: 40px;
    height: 3px;
    margin: 40px auto 25px;
    
    background-color: #00add7;
}

.section_text {
    color: #999;
    font-size: 16px;
}

.text_bold {
    font-weight: bold;
}

/* Card */
.card {
    margin: 30px -15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card_item {
    width: 33.33333%;
    margin-bottom: 30px;
    padding: 0 15px;
}

.card_inner {
    position: relative;
    background-color: #fbbba9;
}

.card_inner:hover .card_img {
    transform: translate3d(-10px, -10px, 0);
}

.card_inner:hover .card_img img {
    opacity: .1;
}

.card_inner:hover .card_text {
    opacity: 1;
}

.card_img {
    background: linear-gradient(145deg, #61ddfa, #1f749c);
    
    transition: transform .2s linear;
}
.card_img img {
    display: block;
    max-width: 100%;
    height: auto;
    transition: opacity .1s linear;
}

.card_text {
    width: 100%;
    text-decoration: none;
    
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    opacity: 0;
    transition: opacity .2s linear;
    
    position: absolute;
    top: 40%;
    left: -10px;
    z-index: 2;
    transform: translate3d(0, -50%, 0)
}


/* statistics */

.statistics {
    background-color: #fbbba9;
    
}

.stat {
    display: flex;
    flex-wrap: wrap;
}
.stat_item {
    flex: 1 1 0;
    
    border: 1px solid #ffd0c3;
    padding: 15px 15px 5px;
    
    text-align: center;
    color: #fff;
}

.stat_count {
    margin-bottom: 10px;
    
    font-size: 50px;
    font-weight: 700;
    line-height: 1;
}

.stat_text {
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
}

/* We do */
.wedo {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.wedo_item {
    width: 50%;
    padding: 0 15px;
}
.wedo_img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Accordion */
.accordion_item {
    margin-bottom: 10px;
    border: 1px solid #e5e5e5;
    
}


.accordion_item.active
.accordion_content {
    display: block;
}

.accordion_item.active
.accordion_panel {
    border-bottom-color: #e5e5e5;
}

.accordion_item.active
.accordion_panel:after {
    transform: translateY(-50%) rotate(-45deg);
    margin-top: 5px;
}


.accordion_panel {
    padding: 15px 20px 15px 65px;
    position: relative;
    
    border-bottom: 1px solid transparent;
    cursor: pointer;
}
.accordion_panel:after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    
    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;
    
    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 1;
    
    transform: translateY(-50%) rotate(135deg);
    
}
.accordion_icon {
    position: absolute;
    top: 50%;
    left: 20px;
    z-index: 1;
    
    transform: translateY(-50%);
}

.accordion_content {
    padding: 15px 20px;
    display: none;
    
    font-size: 15px;
    color: #999;
    font-style: italic;
    font-weight: 300;
}

.accordion_title {
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

/* Slider comments */

.slider {
    position: relative;
}

.slider .slick-slider {
    padding: 0 65px;
}

.slider_item {
    min-height: 210px;
    padding-left: 220px;
    position: relative;
}
.slider_item.iam {
    padding-left: 80px;
}


.slider_photo {
    display: block;
    width: 170px;
    height: 170px;
    
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.comment_text {
    margin-bottom: 15px;
    font-family: sans-serif;
    font-style: italic;
    font-size: 17px;
    font-weight: 100;
    color: #999;
}



.comment_author {
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    color: #333;
}
.comment_author:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 3px;
    margin-right: 20px;
    
    background-color: #f38181;
}

.slick-arrow {
    display: block;
    font-size: 0;
    color: transparent;
    
    border: 0;
    background: none;
    cursor: pointer;
    
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
}

.slick-arrow:focus {
    outline: 0;
}

.slick-arrow:after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    
    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
    
}
.slick-prev {
    left: 0;
    transform: rotate(-45deg);
}
.slick-next {
    right: 0;
    transform: rotate(135deg);
}


/* Casting */

.cast {
    margin: 30px -15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cast_item {
    
    margin-bottom: 20px;
    padding: 0 10px;
}

.cast_inner  {
    display: block;
    width: 376px;
    height: 470px;
    z-index: 1;
}

.cast_inner:hover .cast_img {
    transform: translate3d(-10px, -10px, 0);
}

.cast_img {
    max-width: 100%;
    height: auto;
    position: absolute;
    transition: opacity .1s linear;
    transition: transform .2s linear;
}

.cast_inner:hover .cast_img-gif {
    transform: translate3d(-10px, -10px, 0);
}

.cast_img-gif {
    max-width:100%;
    height:auto;
    display: block;
    transition: opacity .1s linear;
    transition: transform .2s linear;
}


.btn_casting {
    display: inline-block;
    vertical-align: top;
    padding: 9px 25px 6px;
    
    border: 2px solid #999;
    
    font-size: 16px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    text-decoration: none;
    
    transition: background .1s linear, color .1s linear;
}

.btn_casting:hover {
    background-color: #00add7;
    color: #fff;
    border-color: #fff;
}


.text_block {
    color: #999;
    font-size: 16px;
    
    text-align: center;
    margin: 20px 15px 15px;
}


.line {
    display: block;
    background-color: #dbdbdb;
    
    width: 100%;
    height: 1px;
}


/* Works */
.works {
    display: flex;
    padding-bottom: 40px;
}
.works_col {
    flex: 1 1 0;
}
.works_item {
    position: relative;
    
    background: linear-gradient(to bottom, #61ddfa, #1f749c);
    
}

.works_item:hover .works_img  {
    opacity: .1;
}
.works_item:hover .works_info {
    opacity: 1;
}

.works_img {
    display: block;
    max-width: 100%;
    height: auto;
    
    transition: opacity .2s linear;
}
.works_info {
    width: 100%;
    padding: 0 15px;
    
    font-size: 14px;
    text-align: center;
    color: #fff;
    opacity: 0;
    
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    
    transform: translate3d(0, -50%, 0);
    transition: opacity .2s linear;
}

.works_title {
    margin-bottom: 5 px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}
.works_title:hover {
    text-decoration: underline;
}

.works_text {
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
}

/* Blog */
.blog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.blog_item {
    width: 30%;
}

.blog_header {
    position: relative;
    margin-bottom: 20px;
}
.blog_photo {
    display: block;
    max-width: 100%;
    height: auto;
}
.blog_date{
    padding: 10px 20px;
    
    background-color: #95e1d3;
    
    font-style: italic;
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    text-align: center;
    
    position: absolute;
    bottom: 10px;
    left: -10px;
    z-index: 1;
    
}
.blog_date-day {
    font-size: 30px;
    line-height: 1;
    font-weight: 800;
    font-style: normal;
}

.blog_title {
    margin-bottom: 5px;
    
    font-size: 14px;
    font-weight: 500;
    color: #333;
    text-transform: uppercase;
}
.blog_text {
    font-size: 13px;
    color: #6d6d6d;
}


/* Footer */

.footer {
    padding-top: 50px;
    background-color: #f8f8f8;
}

.footer_inner {
    display: flex;
    padding-bottom: 65px;
}

.footer_col--first {
    width: 60%;
}
.footer_col--second {
    width: 20%;
    margin-left: 30px;
}
.footer_col--third {
    width: 20%;
    margin-left: 30px;
}

.footer_logo {
    margin-bottom: 30px;
    
    font-size: 30px;
    font-weight: 500;
    color: #ccc;
}

.footer_text {
    margin-bottom: 30px;
    
    font-size: 13px;
    color:  #999;
}

.footer_content {
    margin-top: 15px;
    font-size: 15px;
    font-weight: 300;
    color: #6d6d6d;
}
.footer_content a {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    
    font-size: 20px;
    color: #95e1d3;
}

.footer_title {
    margin-bottom: 30px;
    
    tab-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
}

.cont_img {
    display: block;
    width: 15px;
    height: auto;
    z-index: 1;
}

/* Services */

.services {
    
}

.services_item {
    display: flex;
    
    margin-bottom: 30px;
}

.services_img {
    width: 100px;
}

.services_content {
    padding-left: 20px;
}

.services_title {
    color: black;
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
}

.services_title:hover {
    text-decoration: underline;
}

.services_date {
    font-size: 12px;
    color: #999;
    font-style: italic;
    font-weight: 500;
}



/* Instagram */

.insta {
    display: flex;
    flex-wrap: wrap;
}

.insta_item {
    width: 30%;
    border: 2px solid #fff;
}
.insta_item img {
    display: block;
    max-width: 100%;
    height: auto;
}

.insta_text {
    color: #000;
    font-size: 13px;
    font-weight: 500;
    
    text-decoration: none;
}
.insta_text:hover {
    text-decoration: underline;
}


/* Copyright */

.copyright {
    padding: 20px 0;
    
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}
.copyright span {
    color: #f38181;
}




/* Media адаптивность */


@media (max-width: 1230px) {
    
    .nav {
        font-size: 11.5px;
    }
    
    
    .intro_title_a {
        font-size: 42px;
    }
    .intro_title_b1 {
        font-size: 44.6px;
    }
    .intro_title_b2 {
        font-size: 36.5px;
    }
    
    
    .section_suptitle {
        font-size: 27px;
    }
    .section_title {
        font-size: 23px;
    }
    .section_text {
        font-size: 14px;
    }
    
    
    .stat_count {
        font-size: 41px;
    }
    
    
    
    
    
    
    
}
    


@media (max-width: 990px) {
    
    .nav {
        font-size: 11.5px;
    }
    
    
    .intro {
        min-height: 450px;
    }
    .intro_title_a {
        font-size: 35px;
    }
    .intro_title_b1 {
        font-size: 34px;
    }
    .intro_title_b2 {
        font-size: 28px;
    }
    .intro_title_b2:after {
        margin: 40px auto;
    }
    
    .section_suptitle {
        font-size: 27px;
    }
    .section_title {
        line-height: 0.1;
        font-size: 22px;
    }
    .section_text {
        font-size: 14px;
    }
    
    
    .card {
        margin-top: 50px;
        justify-content: center;
    }
    .card_item {
        width: 100%;
        max-width: 372px;
        margin-bottom: 30px;
    }
    .card_item:last-child {
    margin-bottom: 0;
    }

    
    .stat_item {
        flex: none;
        width: 33.33333%;
    }
    .stat_count {
        font-size: 37px;
    }
    .stat_text {
        font-size: 10px;
    }
    
    
    .slider {
        padding: 0 40px;
    }
    .slider_item {
        padding-left: 200px;
    }
    .slider_photo {
        height: 150px;
        width: 150px;
    }
    .comment_text {
        font-size: 15px;
    }
    
    
    .text_block {
        font-size: 14px;
    }
    
    
    
    .works_info {
        font-size: 12px;
    }
    
    
    
    .footer_inner {
        flex-wrap: wrap-reverse;
    }
     .footer_logo {
        font-size: 25px;
    }
    
    .footer_col--first {
        width: 100%;
    }
    .footer_col--second {
        width: 50%;
    } 
    .footer_col--third {
        width: 50%;
        max-width: 304px;
    }
    
    
    .copyright {
        font-size: 13px;
        
    }
    
    
}
    
    
    

@media (max-width: 770px) {
    
    .header {
        padding: 10px 0;
    }
    
    
    
    .nav {
        display: none; 
        width: 100%;
        
        position: absolute;
        top: 100%;
        left: 0;
        
        background-color: #2ca1c0;
    }
    
    .nav.active {
        display: block;
    }
    
    
    .nav_link {
        display: block;
        margin: 0;
        padding: 8px 20px;
    }
    
    .nav-toggle {
        display: block;
    }
    
    .intro {
        min-height: 385px;
    }
   .intro_title_b2:after {
        margin: 50px auto;
    }
    
    
    
    
    
    .section {
        padding: 40px 0;
    }
    .section_header {
        margin: 0 auto 20px;
    }
    .section_suptitle {
        font-size: 24px;
    }
    .section_title {
        line-height: 0.1;
        font-size: 20px;
    }
    .section_title:after {
        margin: 32px auto 18px;
    }
    .section_text {
        font-size: 12px;
    }
    
    
    
    .card {
        margin-top: 50px;
        justify-content: center;
    }
    .card_item {
        width: 100%;
        max-width: 372px;
        margin-bottom: 30px;
    }
    .card_item:last-child {
    margin-bottom: 0;
    }

    
    .stat_count {
        font-size: 34px;
        font-weight: 600;
    }
    .stat_text {
        font-size: 9px;
    }
    
    
    .wedo_img {
        display: none;
        
    }
    .wedo_item {
        width: 100%;
    }
    
    
    .slider_item {
        padding-left: 135px;
    }
    .slider_photo {
        height: 110px;
        width: 110px;
    }
    .comment_text {
        font-size: 14px;
    }
    
    
    
    .works {
        flex-wrap: wrap;
    }
    .works_col {
        flex: none;
        width: 50%;
    }
    
    
    
    .accordion_title {
        font-size: 12px;
    }
    .accordion_content {
        font-size: 12px;
    }
    
    
    
    .blog_date {
        padding: 8px 10px;
    }
    .blog_date-day {
        font-size: 22px;
    }
    .blog_title {
        font-size: 12px;
    }
    .blog_text {
        font-size: 12px;
    }
    
    
    
    .footer_col--first {
        width: 100%;
    }
    .footer_col--second {
        width: 100%;
    } 
    .footer_col--third {
        width: 100%;
        padding-bottom: 40px;
    }
    
    
    
}


@media (max-width: 575px) {
    
    .intro_title_a {
        font-size: 28px;
    }
    .intro_title_b1 {
        font-size: 25px;
    }
    .intro_title_b2 {
        font-size: 20.5px;
    }
    .intro_title_b2:after {
        margin: 40px auto;
    }
    
    
    .section {
        padding: 2px 0;
    }
    .section_header {
        margin: 0 auto 35px;
    }
    .section_suptitle {
        font-size: 22px;
    }
    .section_title {
        line-height: 0.1;
        font-size: 17px;
    }
    
    
    
    .container {
        padding: 30px 15px;
    }
    
    
    .card_item {
        max-width: 334px;
        margin-bottom: 20px;
    }

    
    .stat {
        justify-content: center;
    }
    .stat_count {
        font-size: 30px;
        font-weight: 600;
    }
    .stat_text {
        font-size: 9px;
    }
    
    
    .slider_item {
        padding-left: 0;
    }
    .slider_photo {
        margin: 0 auto;
        position: static;
    }
    .comment_text {
        font-size: 13px;
    }
    .btn_casting {
        font-size: 14px;
    }
    
    
    .text_block {
        font-size: 12.5px;
    }
    
    
    
    
    .cast_item:last-child {
        margin-bottom: 0;
    }
    
    
    
    
    .works_info {
        font-size: 10px;
    }
    .works_text {
        font-size: 13px;
    }
    
    
    .blog {
        max-width: 380px;
        margin: 0 auto;
    }
    .blog_item {
        width: 100%;
        margin-bottom: 20px;
    }
    .blog_item:last-child {
        margin-bottom: 0px;
    }
    
    
    .footer {
        padding-top: 0px;
    }
    
    
    .copyright {
        font-size: 12px;
        margin-bottom: -30px;
    }
    
}

@media (max-width: 320px) {
    
    .intro_title_a {
        font-size: 25px;
    }
    .intro_title_b1 {
        font-size: 20px;
    }
    .intro_title_b2 {
        font-size: 16.4px;
    }
    .intro_title_b2:after {
        margin: 38px auto;
    }
    
    
    .section_title {
        font-size: 14px;
    }
    
    .works_info {
        display: none;
    }
    .works_item:hover .works_img  {
        opacity: 1;
    }
    .works_item {
        background: none;
    }
    
    
    
}
